html {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1.125rem;
  margin: .5rem;
  background-color: #fff;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header{
  background-color: #e2e2e2;
}

main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img {
  width: 2rem;
  display: inline;
}

h1 {
  display: inline;
}

p {
 display: inline;
}

nav li {
  color: #0074d9;
  flex-wrap: wrap;
  display: inline;
  padding: .75em 1em .6em;
}
