html {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1.125rem;
  background-color: #fff;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  margin: auto;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header img {
  flex-wrap: wrap;
  margin: .5rem;
  width: 2rem;
}

header h1 {
  margin: .5rem;
  padding: 1rem;
}

header p {
  margin: .5rem;
  padding: 1rem;
}

nav li {
  margin: .5rem;
  padding: .75em 1em .6em;
}

nav ul {
  margin: .5rem;
  padding: .75em 1em .6em;
}

nav a {
  margin: .5rem;
  color: #0074d9;
  padding: .75em 1em .6em;
}

nav a:hover {
  color: #fff;
  margin: .5rem;
  padding: .75em 1em .6em;
}
