html {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1.125rem;
  margin: .5rem;
  background-color: #fff;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

 body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
 }

header {
  background-color: #e2e2e2;
}

main{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header img {
  display: inline;
}

header h1 {
  margin: 0 auto;
  display: inline;
}

header p {
  display: inline;
}

nav li {
  color: #0074d9;
  display: inline;
  padding: .75em 1em .6em;
  flex: wrap;
}

nav a {
  color: #0074d9;
  margin: .5rem;
  padding: .75em 1em .6em;
}

a:hover {
  color: #0074d9;
  background-color: #0074d9;
}
